.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.code-workspace
*.iml
rebar3.crashdump
rebar.lock
*~
node_modules
*-lock.json
.cache
dist
elm-stuff